html,
body {
  height: 100%;
}

body {
  background: radial-gradient(
    ellipse at center,
    #b6a726 0%,
    #ada61e 35%,
    #b6a61c 100%
  );
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #716601;
}

.wave {
  background: url(../images/testing.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave {
  display: none;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-120 {
  font-size: 120px;
}
.material-icons.md-25 {
  font-size: 25px;
}
.background-controller {
  height: 90%;
  width: 90%;
  background-image: linear-gradient(
      rgba(139, 83, 255, 0.5),
      rgba(139, 83, 255, 0.5)
    ),
    url(../images/prosoul-games_large.jpg);
  background-size: cover;
  background-position: center;
}
