body {
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
}
.text-audiowide {
  font-family: "Audiowide", sans-serif;
}
/* .display {
  width: 300px;
  height: 200px;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.js {
  display: none;
} */

.ourshow {
  opacity: 1;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
  /* transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; */
}

/* do not add a transition here */
.ourhiding {
  opacity: 0;
  transform: translateX(
    -9000px
  ); /*this will need you to adjust for the TV or view port or it will just need to be way more than you want */
}

.ourhidden {
  opacity: 0;
  transform: translateX(
    9000px
  ); /*just make sure this is now to the right on the same length as hiding*/
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.centralboxes {
  height: 60vh;
}

.boardtopper {
  height: 15vh;
}
.text-white .bg-dark {
  opacity: 0.4;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-120 {
  font-size: 120px;
  z-index: 49;
}

.material-icons.md-25 {
  font-size: 25px;
}
ul {
  line-height: 20%;
}
.fs-7 {
  font-size: 0.6em;
  text-align-last: center;
  z-index: 50;
}

.border-purple {
  border-color: #4c12a4;
}
.background-controller {
  height: 90%;
  width: 90%;
  background-image: linear-gradient(
      rgba(140, 83, 255, 0.9),
      rgba(140, 83, 255, 0.9)
    ),
    url(../images/prosoul-games_large.jpg);
  background-size: cover;
  background-position: center;
}
