#search-form {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8C53FFE6;
    /* optional: set background color */
    z-index: 1000;
    /* optional: set z-index */
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90vw;
}

.form-control {
    width: 70%;
}

.btn {
    width: 25%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 90vw;
    margin: 0 auto;
    background-color: #8C53FFE6;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-control {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: #fff;
    background-color: #ffffff;
    box-shadow: none;
    font-size: 18px;
    color: #6c757d;
}

.btn-primary {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: -1px;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}